@model List<Departments.Service_B.Models.Department>

<ul>
    @foreach (var department in Model)
    {
        <li>
            @department.Name
            @department.Status
            @if (department.Children != null && department.Children.Any())
            {
                @await Html.PartialAsync("Partial", department.Children)
            }
        </li>
    }
</ul>