<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Departments</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    @model List<Departments.Service_B.Models.Department>

    <ul id="departments">
    </ul>

    <form id="synchronizeForm" action="Synchronize" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Synchronize</button>
    </form>

    <form id="filterForm" action="GetByName" method="get">
        <label for="name">Name filter:</label>
        <input type="text" id="name" name="name" required />
        <button type="submit">Filter out</button>
    </form>

    <script>
        $(document).ready(function () {

            $.get('@Url.Action("GetAll")', function (response) {
                $('#departments').html(response);
            });
        });

        $('#synchronizeForm').submit(function (event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#departments').html(response);
                }
            });
        });

        $('#filterForm').submit(function (event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            var name = $('input[name="name"]').val();

            $.ajax({
                url: $(this).attr('action') + '?name=' + name,
                type: $(this).attr('method'),
                success: function (response) {
                    $('#departments').html(response);
                }
            });
        });
    </script>

</body>
</html>